body {
	background-color:hsl(120, 50%, 95%);
}
img {
	max-width: 100%;
	height: auto;
}

.jazzmaster {
	grid-column: 1/-1;
	text-align: center;
	margin: auto;
}
@media screen and (min-width: 600px) {
	main {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(2,1fr );
		align-content: center;
	}
}

@media screen and (min-width: 900px) {
	main {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(6,1fr );
	}
	main article {
		grid-column: span 2;
	}
	main article:nth-of-type(4) {
		grid-column: 2 / span 4;
	}
}

@media screen and (min-width: 1200px) {
	main {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(4,1fr );
	}
	main article {
		grid-column: unset;
	}
	main article:nth-of-type(4) {
		grid-column: unset;
	}
}